.metronome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: .5rem;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}

.beat {
    font-size: 2rem;
    font-weight: 700;
}

.bpm {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.bpmValue {
    text-align: center;
}

.bpmControls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.primaryButton {
    background-color: #007bff;
    color: white;
}

.startButton {
    background-color: #36f994;
    color: black;
}

.stopButton {
    background-color: #ff3b3b;
    color: white;
}

.signatures {
    display: flex;
    gap: 0.5rem;
}
